@font-face {
  font-family: "LigatureSymbols";
  src: url("../font/LigatureSymbols-2.11.eot");
  src: url("../font/LigatureSymbols-2.11.eot?#iefix") format("embedded-opentype"),
       url("../font/LigatureSymbols-2.11.woff") format("woff"),
       url("../font/LigatureSymbols-2.11.ttf") format("truetype"),
       url("../font/LigatureSymbols-2.11.svg#LigatureSymbols") format("svg");
  font-weight: normal;
  font-style: normal;
}
.button-generator {
  @mixin inline-block {
    display: -moz-inline-box;
    display: inline-block;
    *display: inline;
    *zoom: 1
  }

  @mixin transition($sec, $easing: linear) {
    transition: all $sec $easing;
    -moz-transition: all $sec $easing;
    -webkit-transition: all $sec $easing;
    -o-transition: all $sec $easing;
  }

  @mixin user-select($select: none) {
    user-select: $select;
    -moz-user-select: $select;
    -webkit-user-select: $select;
    -ms-user-select: $select;
  }

  @mixin bubble-talk($color, $width, $height, $direction, $position: 50%) {
    $list: bottom, left, right, top, $height, $width;
    @if top == $direction {
      $list: top, left, right, bottom, $height, $width;
    } @else if left == $direction {
      $list: left, top, bottom, right, $width, $height;
    } @else if right == $direction {
      $list: right, top, bottom, left, $width, $height;
    };
    &:before {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      #{ nth( $list, 1)}: -#{ nth( $list, 5)};
      #{ nth( $list, 2)}: $position;
      margin-#{ nth( $list, 2)}: -#{ nth( $list, 6)/2};
      border-#{ nth( $list, 2)}: #{ nth( $list, 6)/2} solid transparent;
      border-#{ nth( $list, 3)}: #{ nth( $list, 6)/2} solid transparent;
      border-#{ nth( $list, 4)}: #{ nth( $list, 5)} solid $color;
    }
  }

  @mixin general-button-inset($label-size, $icon-size, $label-color, $popup-dist, $horizontal-padding, $vertical-padding, $radius, $speed, $button-color, $side-darkness, $darken: darken($button-color, $side-darkness)) {
    @include inline-block;
    @include user-select;
    @include transition(0ms);
    position: relative;
    top: 0px;
    border-radius: $radius;
    background-color: rgba($button-color, 1);
    cursor: pointer;
    text-decoration: none;
    line-height: 1;
    .button-content-inset {
      @include transition(0ms);
      display: table;
      border-radius: 0px 0px $radius $radius;
      padding: $vertical-padding ($horizontal-padding/2);
      color: $label-color;
      box-shadow: 0px 0px 0px 0px rgba($darken, 0);
      .button-text-inset {
        display: table-cell;
        vertical-align: middle;
        text-decoration: none;
        padding: 0px ($horizontal-padding/2);
        font-size: $label-size;
        @if $label-size < $icon-size {
          line-height:($icon-size / $label-size) + 0em;
        } @else {
          line-height: 1em;
        }
      }
      .icon-font-inset {
        display: table-cell;
        vertical-align: middle;
        padding: 0px ($horizontal-padding/2);
        font-size: $icon-size;
      }
    }
    &:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      border-radius: $radius;
      border-bottom: 0px solid rgba($darken, 0);
      background-color: rgba($button-color, 0);
    }
    &:hover {
      @include transition($speed, ease-in-out);
      background-color: rgba(lighten($button-color, 3%), 1);
      top: -$popup-dist;
      .button-content-inset {
        @include transition($speed, ease-in-out);
        box-shadow: 0px $popup-dist 0px 0px rgba($darken, 1);
      }
      &:before {
        @include transition($speed, ease-in-out);
        border-bottom: $popup-dist solid rgba($darken, 0);
      }
    }
    &:active {
      @include transition(0ms);
      top: 0px;
      background-color: rgba(darken($button-color, 15%), 1);
      box-shadow: 0px($popup-dist / 5) + 2 0px 0px rgba($darken, 1) inset;
      .button-content-inset {
        @include transition(0ms);
        box-shadow: 0px 0px 0px 0px rgba(darken($button-color, $side-darkness + 20%), 0);
      }
      &:before {
        @include transition(0ms);
        top: -$popup-dist;
        border-bottom: 0px solid rgba($darken, 0);
        padding-bottom: $popup-dist;
      }
    }
    .touch & {
      &:hover {
        background-color: rgba($button-color, 1);
        top: 0px;
        .button-content-inset {
          box-shadow: 0px 0px 0px 0px rgba($button-color, 1);
        }
        &:before {
          border-bottom: 0px solid rgba($darken, 0);
        }
      }
      &:active {
        @include transition(0ms);
        top: 0px;
        background-color: rgba(darken($button-color, 15%), 1);
        box-shadow: 0px($popup-dist / 5) + 2 0px 0px rgba($darken, 1) inset;
        .button-content-inset {
          @include transition(0ms);
          box-shadow: 0px 0px 0px 0px rgba(darken($button-color, $side-darkness + 20%), 0);
        }
        &:before {
          @include transition(0ms);
          top: -$popup-dist;
          border-bottom: 0px solid rgba($darken, 0);
          padding-bottom: $popup-dist;
        }
      }
    }
  }

  @mixin preset-button( $button-color, $preset-w: 150px, $preset-h: 30px, $popup-dist: 3px, $preset-radius: 3px, $speed: 100ms) {
    @include user-select;
    @include transition(0ms);
    position: relative;
    overflow: hidden;
    width: $preset-w;
    height: $preset-h;
    top: 0px;
    cursor: pointer;
    border-radius: $preset-radius;
    background-color: rgba($button-color, 1);
    box-shadow: 0px ($popup-dist/5) + 2 0px 0px rgba(darken($button-color, 15%), 0) inset, 0px 0px 0px 0px rgba(darken($button-color, 15%), 0);
    &:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      border-radius: $preset-radius;
      border-bottom: 0px solid rgba(darken($button-color, 10%), 0);
      background-color: rgba($button-color, 0);
    }
    &:hover {
      @include transition($speed, ease-in-out);
      background-color: rgba(lighten($button-color, 5%), 1);
      top: -$popup-dist;
      box-shadow: 0px ($popup-dist/5) + 2 0px 0px rgba(darken($button-color, 15%), 0) inset, 0px $popup-dist 0px 0px rgba(darken($button-color, 15%), 1);
      &:before {
        @include transition($speed, ease-in-out);
        border-bottom: $popup-dist solid rgba(darken($button-color, 10%), 0);
      }
    }
    &:active {
      @include transition(0ms);
      background-color: rgba(darken($button-color, 5%), 1);
      top: 0px;
      box-shadow: 0px ($popup-dist/5) + 2 0px 0px rgba(darken($button-color, 15%), 1) inset, 0px 0px 0px 0px rgba(darken($button-color, 15%), 0);
      &:before {
        @include transition(0ms);
        top: -$popup-dist;
        border-bottom: 0px solid rgba(darken($button-color, 10%), 0);
        padding-bottom: $popup-dist;
      }
    }
    .touch &:hover {
      background-color: rgba($button-color, 1);
      top: 0px;
      box-shadow: 0px 0px 0px 0px rgba($button-color, 0) inset, 0px 0px 0px 0px rgba($button-color, 1);
      &:before {
        border-bottom: 0px solid rgba($button-color, 0);
      }
    }
    .touch &:active {
      @include transition(0ms);
      background-color: rgba(darken($button-color, 5%), 1);
      top: 0px;
      box-shadow: 0px ($popup-dist/5) + 2 0px 0px rgba(darken($button-color, 15%), 1) inset, 0px 0px 0px 0px rgba(darken($button-color, 15%), 0);
      &:before {
        @include transition(0ms);
        top: -$popup-dist;
        border-bottom: 0px solid rgba(darken($button-color, 10%), 0);
        padding-bottom: $popup-dist;
      }
    }
  }

  @mixin triangle-bottom($top, $left) {
    position: absolute;
    top: $top;
    left: $left;
    width: 0;
    height: 0;
    margin-top: -5px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 10px solid #000000;
    float: right;
    opacity: 0.5;
  }

  .icon-font, .icon-font-inset {
    font-family: "LigatureSymbols";
    -webkit-text-rendering: optimizeLegibility;
    -moz-text-rendering: optimizeLegibility;
    -ms-text-rendering: optimizeLegibility;
    -o-text-rendering: optimizeLegibility;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
    -webkit-font-feature-settings: "liga" 1, "dlig" 1;
    -moz-font-feature-settings: "liga=1, dlig=1";
    -ms-font-feature-settings: "liga" 1, "dlig" 1;
    -o-font-feature-settings: "liga" 1, "dlig" 1;
    font-feature-settings: "liga" 1, "dlig" 1;
  }
  .noht-logo {
      @include transition(100ms);
      width: 45px;
      height: 16px;
      background: url("../images/share/logo_noht_gray.png") no-repeat center;
      background-size: contain;
      cursor: pointer;
      margin-top: 10px;
      margin-left: 20px;
      opacity: 0.5;
      a {
        display: block;
        width: 100%;
        height: 100%;
        text-decoration: none;
      }
      &:hover {
        opacity: 0.4;
      }
  }
  .wrap {
    font-family: "ヒラギノ角ゴ Pro W3",
    "Hiragino Kaku Gothic Pro",
    "メイリオ", Meiryo,
    "ＭＳ Ｐゴシック",
    "MS PGothic",
    sans-serif;
    min-width: 1000px;
    text-decoration: none;
    text-align: center;
    color: #686868;
    font-size: 0px;
    padding-top: 150px;
    .sns-buttons.top {
      position: absolute;
      top: 10px;
      right: 10px;
    }
    .sns-buttons.bottom {
      padding: 50px 0px 20px;
      background-color: #eaeaea;
    }
    .sns-button {
      margin-right: 3px;
    }
    .facebook {
      position: relative;
      top: 1px;
    }
    .generator-content {
      .presets {
        position: relative;
        @include user-select;
        display: table;
        height: 300px;
        width: 600px;
        margin: 60px auto 0px;
        .presets-navigation {
          position: absolute;
          top: 50%;
          margin-top: -30px;
          display: table-cell;
          vertical-align: middle;
          .arrow-sign {
            width: 30px;
            height: 60px;
            background-repeat: no-repeat;
            background-position: center center;
            opacity: 0.7;
            cursor: pointer;
            &:hover {
              opacity: 0.5;
            }
          }
        }
        .left {
          left: 0;
          .arrow-sign {
            background-image: url("../images/2_5dbutton/button_sample_slide_l.png");
          }
        }
        .right {
          right: 0;
          .arrow-sign {
            background-image: url("../images/2_5dbutton/button_sample_slide_r.png");
          }
        }
        .presets-content {
          display: inline-table;
          left: 0;
          top: 0;
          height: 100%;
          .presets-button-set {
            display: table-cell;
            vertical-align: middle;
            .green {
              @include preset-button(#b5c23a);
            }
            .blue {
              @include preset-button(#4587c0);
            }
            .red {
              @include preset-button(#c94240);
            }
            .black {
              @include preset-button(#474747);
            }
            .preset-button {
              margin: 15px;
            }
          }
        }
      }
      .button-control {
        $triangle-w-half: 30px;
        $triangle-h: 50px;
        margin-top: $triangle-h;
        position: relative;
        background-color: #eaeaea;
        padding: 50px 0px 0px;
        &:before {
          content: "";
          position: absolute;
          width: 0;
          height: 0;
          top: -$triangle-h;
          left: 50%;
          margin-left: -$triangle-w-half;
          border-left: $triangle-w-half solid transparent;
          border-right: $triangle-w-half solid transparent;
          border-bottom: $triangle-h solid #b5b5b5;
        }
      }
      .selector {
        width: 1000px;
        margin: 0px auto;
        .selector-content {
          @include inline-block;
          background-color: #fafafa;
          font-size: 13px;
          width: 40%;
          >li {
            display: table;
            width: 100%;
            height: 50px;
            text-align: left;
            &:nth-child(even) {
              .region-title {
                background-color: #f5f5f5;
              }
              .region-content {
                background-color: #f1f1f1;
              }
            }
            .region-title {
              display: table-cell;
              width: 35%;
              vertical-align: middle;
              padding-left: 15px;
            }
            .region-content {
              display: table-cell;
              width: 100%;
              height: 100%;
              background-color: #f8f8f8;
              vertical-align: middle;
            }
          }
          &:first-child {
            margin-right: 10px;
          }
          .button-label {
            .region-content {
              text-align: center;
            }
            .text-box {
              width: 90%;
              height: 60%;
              padding: 0px 5px;
              border: none;
              font-size: 20px;
              color: #666666;
              &:hover {
                outline-color: #008cf4;
                outline-style: solid;
                outline-width: 1px;
              }
              &:focus {
                outline-color: #008cf4;
                outline-style: solid;
                outline-width: 1px;
                outline-offset: 0px;
              }
            }
          }
          .icon {
            .region-content {
              &:hover {
                background-color: #f3f3f3;
              }
              .popup-selector {
                display: table;
                position: relative;
                width: 100%;
                height: 100%;
                .icon-font-inset {
                  display: table-cell;
                  width: 100%;
                  vertical-align: middle;
                  text-align: center;
                  cursor: default;
                }
                .popup-sign {
                  @include triangle-bottom(50%, 90%);
                }
              }
            }
          }
          .slider {
            @include inline-block;
            margin-left: 20px;
            width: 180px;
          }
          .count-display {
            float: right;
            padding-right: 10px;
          }
          .color-picker {
            position: relative;
            width: 100%;
            height: 100%;
            .popup-sign {
              @include triangle-bottom(50%, 90%);
            }
          }
        }
      }
      .code {
        width: 1000px;
        margin: 0px auto;
        padding-top: 10px;
        .code-box {
          @include inline-block;
          position: relative;
          width: 40%;
          padding: 0px 0px 30px;
          background-color: #fafafa;
          .title {
            padding: 15px 0px;
            font-size: 15px;
            font-weight: bold;
          }
          .code-convert {
            width: 90%;
            height: 165px;
            border: none;
            resize: none;
            background-color: white;
            color: #686868;
            font-size: 12px;
            text-align: left;
            &:focus{
              outline: none;
            }
          }
          .copy-button {
            display: inline-block;
            width: 90%;
            padding: 15px 0px;
            background-color: #7c7c7c;
            font-size: 15px;
            color: #ffffff;
          }
          &:first-child {
            margin-right: 10px;
          }
        }
      }
    }
    .downloads {
      font-size: 0;
      @include inline-block;
      margin-top: 10px;
      > a {
        margin: 0px 5px;
      }
      .download-button {
        @include general-button-inset(50px, 100px, #fff, 10px, 370px, 20px, 0px, 50ms, #7c7c7c, 2%);
      }
      .link-button {
        margin-top: 60px;
        @include general-button-inset(15px, 34px, #555555, 2px, 15px, 2px, 5px, 50ms, #fafafa, 25%);
      }
      .dl-caption {
        padding-left: 25px;
        margin-top: 15px;
        font-size: 17px;
      }
    }
    .lisence {
      > p {
        font-size: 15px;
        padding-bottom: 20px;
      }
      margin-top: 50px;
      > span  {
        display: inline-block;
        background-color: rgba(0, 0, 0, 0.05);
        padding: 20px 100px;
        font-size: 12px;
      }
      a, a:visited {
        color: #686868;
      }
      .caption {
        font-size: 14px;
        padding-bottom: 20px;
      }
      p {
        line-height: 2;
      }

    }
    footer {
      background-color: #eaeaea;
      padding: 30px 0px 30px;
    }
  }

  //--------------------------------
  // スライダー
  //--------------------------------
  .ui-corner-all {
    height: 4px;
    border: none;
    border-radius: 0px;
    background-color: #8c8c8c;
    &:hover {
      .ui-state-default {
        top: -5px;
        width: 14px;
        height: 14px;
        border-radius: 7px;
        outline: none;
        margin-left: -0.7em;
      }
    }
    .ui-widget-header {
      background-color: #008cf4;
    }
    .ui-state-default {
      background-color: #008cf4;
      top: -3px;
      width: 10px;
      height: 10px;
      border: solid 0px transparent;
      border-radius: 5px;
      &:focus {
        top: -5px;
        width: 14px;
        height: 14px;
        border-radius: 7px;
        outline: none;
        margin-left: -0.7em;
      }
    }
  }

  //--------------------------------
  // カラーピッカー
  //--------------------------------
  .sp-container {
    border: none;
    .sp-picker-container {
      border-left: none;
      width: 220px;
      .sp-input-container {
        width: 60%;
        .sp-input {
          background-color: #fff;
          border: none;
          border-radius: 0px;
          &:focus {
            border: none;
          }
        }
      }
    }
  }

  //--------------------------------
  // アイコンポップアップ
  //--------------------------------
  .icon-popup {
    .bg-overlay {
      display: none;
      z-index: 999;
      background: #000000;
      width: 100%;
      height: 100%;
      position: fixed;
    }
    .overlay {
      display: none;
      position: absolute;
      z-index: 999;
      zoom: 1;
      width: 100%;
      text-align: center;
      .popup-content {
        display: inline-block;
        padding: 50px 40px;
        background-color: #ffffff;
        color: #686868;
        font-size: 20px;
        margin-bottom: 50px;
        .icon-list {
          overflow: hidden;
          padding: 20px 0px 30px;
          font-size: 40px;
          cursor: default;
          .logos {
            clear: both;
            padding: 30px 0px 0px;
          }
        }
        ul {
          float: left;
          > li {
            width: 110px;
            margin: 10px 5px;
            &:hover {
              background-color: #f1f1f1;
            }
            &:active {
              background-color: #e8e8e8;
            }
          }
          .none {
            line-height: 2em;
            font-size: 20px;
          }
          .selected {
            color: #ffffff;
            background-color: #1e90d6;
            &:hover {
              background-color: #229ad6;
            }
            &:active {
              background-color: #0081bd;
            }
          }
        }
        .button-closed {
          @include inline-block;
          width: 120px;
          height: 40px;
          color: white;
          background-color: #1e90d6;
          line-height: 40px;
          cursor: pointer;
          &:hover {
            background-color: #269fdb;
          }
        }
      }
    }
  }
}
