//公開時用
#alccalc {
    .sns-button.facebook iframe {
        position: relative;
        top: 1px;
    }
    iframe.twitter-share-button {
        width: 56px !important;
    }
}
#alccalc {
    @mixin user-select {
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    @mixin transition($val...) {
        -webkit-transition: $val;
        -moz-transition: $val;
        -o-transition: $val;
        transition: $val;
    }
    @mixin clearfix {
        &:before, &:after {
            content: "";
            display: block;
            overflow: hidden;
        }
        &:after {
            clear:both;
        }
        *zoom: 1;
    }
    @mixin font-family($type: default, $important: false) {
        @if $important == 'important' or $important == true {
            $important: ' !important';
        } @else {
            $important: '';
        }
        @if $type == default {
            font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;

        } @else if $type == windows {
            font-family:  "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;//default for windows

        } @else if $type == mac {
            font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", sans-serif;//default for mac

        } @else if $type == sans-serif {
            font-family: sans-serif#{$important};

        } @else if $type == serif {
            font-family: serif#{$important};

        } @else if $type == monospace {
            font-family: monospace#{$important};
        } @else if $type == verdana {
            font-family: Verdana, Arial, Helvetica, sans-serif#{$important};
        } @else if $type == tahoma {
            font-family: Tahoma, Arial, Helvetica, sans-serif#{$important};
        }
    }
    @include font-family;
    $main-color: #e4002b;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: $main-color;
    a {
        text-decoration: none;
    }
    .global-header {
        position: absolute;
        line-height: 1;
        width: 100%;
        height: 35px;
        z-index: 10;
        text-align: left;
        background-color: rgba(0, 0, 0, 0.3);
        .gheader-content {
            display: table;
            height: 100%;
            padding-left: 50px;
            > * {
                display: table-cell;
                vertical-align: middle;
            }
        }
        .noht-logo {
            width: 45px;
            height: 16px;
            background: url("../images/share/logo_noht_white.png") no-repeat center;
            background-size: contain;
            cursor: pointer;
            a {
                display: block;
                width: 100%;
                height: 100%;
                text-decoration: none;
            }
        }
        .language {
            color: #fff;
            padding-left: 50px;
            font-weight: 600;
            a, a:visited {
                padding: 7px;
                height: 20px;
                color: #fff;
                font-size: 12px;
                margin-right: 10px;
                &.selected {
                    background-color: rgba(0, 0, 0, 0.2);
                }
            }
        }
    }
    width: 100%;
    .applestore {
        padding-top: 55px;
        a {
            @include transition(100ms);
            display: inline-block;
            opacity: 1;
            width: 142px;
            &:hover {
                opacity: 0.9;
            }
        }
        img {
            width: 100%;
        }
    }
    header {
        position: relative;
        top: 0;
        width: 100%;
        font-size: 0;
        background-color: $main-color;
        .content {
            $image-width: 419px;
            width: 1000px;
            height: 850px;
            margin: 0px auto;
            background-image: url("/images/alcCalc/image_phone.png");
            background-repeat: no-repeat;
            -webkit-background-size: 420px;
            background-size: 420px;
            background-position: 10px 150px;
            text-align: right;
        }
        .title {
            $icon-size: 67px;
            display: inline-block;
            margin-top: 400px;
            position: relative;
            text-align: center;
            &:before {
                content: "";
                position: absolute;
                width: 100%;
                height: $icon-size;
                left: 4px;
                top: -70px;
                margin-top: -$icon-size;
                background: url("/images/alcCalc/icon_alccalc.png") center center no-repeat;
                -webkit-background-size: 52px;
                background-size: 52px;
            }
            .logo img {
                width: 294px;
            }
        }
        .sns-buttons {
            padding-top: 50px;
            width: 100%;
            display: inline-block;
        }
        .sns-button {
            display: inline-block;
            margin-right: 3px;
        }
    }
    .display-video-wrap {
        background-color: #f4f4f4;
        padding-top: 50px;
        .display-video {
            width: 80%;
            margin: 0px auto;
        }
        .video-container {
            width: 1280px;
            max-width: 100%;
            min-width: 400px;
            margin: 0px auto;
        }
        .video-wrap {
            position: relative;
            padding-bottom: 56.25%;
            padding-top: 30px;
            height: 0;
            overflow: hidden;
        }
        iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
    .get-hashtag {
        display: none;
        padding-top: 30px;
        background-color: #f4f4f4;
        #twitter-widget-1 {
//           max-width: 80% !important;
//           width: 80% !important;
        }
        .timeline {
            background-color: $main-color !important;
        }
    }
    .main {
        position: relative;
        background: #f4f4f4 ;
        .caption {
            p {
                padding-top: 117px;
                font-size: 57px;
            }
            .note {
                display: block;
                padding-top: 30px;
                font-size: 24px;
            }
        }
        .display-image {
            position: absolute;
            width: 100%;
            height: 68%;
            margin-top: 100px;
            background:transparent url("/images/alcCalc/image_phone_trace.png") center top no-repeat;
            z-index: 999;
            -webkit-background-size: 633px 1312px;
            background-size: 633px 1312px;
            .reserve-value {
                display: none;
            }
            .number-display {
                font-size: 0;
                >* {
                    display: inline-block;
                    position: relative;
                    height: 100%;
                    vertical-align: top;
                }
                ul.invisible {
                    display: none;
                }
                li {
                    @include user-select;
                    position: absolute;
                    left: 0;
                    top: 0;
                    opacity: 0;
                    &.selected {
                        opacity: 1;
                    }
                }
            }
            .clock-display {
                margin-top: 194px;
                overflow: hidden;
                img {
                    width: 100%;
                }
                .now-time {
                    padding-top: 8px;
                    .number {
                        width: 10px;
                        height: 14px;
                        background: left top no-repeat;
                        -webkit-background-size: contain;
                        background-size: contain;
                    }
                    .coron {
                        width: 7px;
                    }
                }
                .end-time {
                    @include transition(300ms ease-in-out);
                    position: relative;
                    padding-top: 50px;
                    top: -100px;
                    &.scroll {
                        top: 0px;
                    }
                    .number {
                        width: 15px;
                        height: 21px;
                        background: left top no-repeat;
                        -webkit-background-size: contain;
                        background-size: contain;
                    }
                    .coron {
                        padding-left: 2px;
                        width: 9px;
                    }
                    &:after {
                        content: "";
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        left: 0;
                        top: -9px;
                        background-image: url("/images/alcCalc/icon_arrow_down.png");
                        background-repeat: no-repeat;
                        background-position: center;
                        -webkit-background-size: 12px;
                        background-size: 12px;
                    }
                }
                @for $i from 0 through 9 {
                    .number.num-#{$i} {
                        background-image: url("/images/alcCalc/image_clock_number_#{$i}.png");
                    }
                }
            }
            .countdown {
                margin-top: 54px;
                .number {
                    width: 71px;
                    height: 96px;
                    background: left top no-repeat;
                    -webkit-background-size: contain;
                    background-size: contain;
                    &.hour {
                        margin-right: 36px;
                    }
                    &.min2 {
                        margin-right: 31px;
                    }
                }
                @for $i from 0 through 9 {
                    .number.num-#{$i} {
                        background-image: url("/images/alcCalc/image_countdown_number_#{$i}.png");
                    }
                }
            }
            .progress-bar {
                @include user-select;
                display: inline-block;
                margin-top: 20px;
                width: 463px;
                height: 3px;
                margin-left: 4px;
                border: 1px solid $main-color;
                >div {
                    width: 100%;
                    height: 100%;
                    background-color: $main-color;
                    &.active {
                        width: 0%;
                    }
                    &.loading {
                        @include transition(1s linear);
                        width: 0%;
                    }
                }
            }
        }
        .using {
            position: relative;
            width: 100%;
            background-color: $main-color;
            margin-top: 810px;
            color: #fff;
            z-index: 1000;
            ul {
                font-size: 0;
                padding: 48px 0px;
            }
            li {
                display: inline-block;
                position: relative;
                width: 300px;
                height: 120px;
                font-size: 20px;
                &:before {
                    content: "";
                    position: absolute;
                    left: 0;
                    top: 25px;
                    width: 100%;
                    height: 100%;
                    background-repeat: no-repeat;
                    background-position: center;
                    -webkit-background-size: 40%;
                    background-size: 40%;
                }
            }
            $icon-list: breath, blood, calorie, hangover, share, no_ad;

            @each $icon in $icon-list {
                .#{$icon}:before {
                    background-image: url("/images/alcCalc/icon_using_#{$icon}.png");
                }
            }
        }
        .applestore {
            background-color: #fff;
            padding-top: 290px;
        }
        .caution {
            background-color: #fff;
            padding-top: 70px;
            font-size: 12px;
            font-weight: 600;
            line-height: 1.5em;
            img {
                width: 64px;
            }
            p {
                display: inline-block;
                width: 40%;
                padding-top: 10px;
            }
        }
    }
    footer {
        $padding-height: 15px;
        display: inline-block;
        margin: 100px 0px 20px;
        padding: $padding-height 80px;
        background-color: #f4f4f4;
        .copyright {
            font-size: 17px;
            a, a:visited {
                color: $main-color;
            }
        }
        .staff {
            padding-top: $padding-height;
            font-size: 12px;
            line-height: 1.5em;
        }
        a, a:visited {
            color: #4f4f4f;
        }
    }
    @media screen and (max-width: 1200px) {
        header {
            .content {
                width: 800px;
                -webkit-background-size: 400px;
                background-size: 400px;
                background-position: left 180px;
                .title {
                }
            }
        }
        .main .using {
            margin-top: 840px;
            ul {
                padding: 30px 0px;
            }
            li {
                width: 230px;
                height: 120px;
                font-size: 16px;
            }
        }
    }
    @media screen and (max-width: 900px) {
        header {
            .content {
                width: auto;
                -webkit-background-size: 300px;
                background-size: 300px;
                background-position: center 500px;
                .title {
                    width: 100%;
                    margin-top: 200px;
                }
                .image {
                    width: auto;
                    margin-top: 50px;
                }
                .sns-buttons {
                    padding-top: 30px;
                }
                .applestore {
                    padding-top: 45px;
                }
            }
        }
    }
    @media screen and (max-width: 700px) {
        header {
            .title .logo img {
                width: 200px;
            }
            .content {
                .sns-buttons {
                    padding-top: 40px;
                }
                .applestore {
                    padding-top: 55px;
                }
            }
        }
        .display-video-wrap .display-video {
            width: 100%;
            .video-container {
                min-width: 0;
            }
        }
        .get-hashtag {
            #twitter-widget-1 {
                //max-width: 100% !important;
                //width: 100% !important;
            }
        }
        .main {
            .caption {
                p {
                    padding-top: 70px;
                    font-size: 25px;
                }
                .note {
                    font-size: 15px;
                }
            }
            .display-image {
                $width: 300px;
                width: $width;
                height: 40%;
                left: 50%;
                margin-top: 50px;
                margin-left: -($width/2);
                -webkit-background-size: 100%;
                background-size: 100%;
                .clock-display {
                    margin-top: 90px;
                    .now-time {
                        padding-top: 3px;
                        .number {
                            width: 8px;
                        }
                        .coron {
                            width: 5px;
                        }
                    }
                    .end-time {
                        padding: 20px 0px 4px;
                        .number {
                            width: 10px;
                        }
                        &:after {
                            top: -13px;
                            -webkit-background-size: 2%;
                            background-size: 2%;
                        }
                        .coron {
                            width: 6px;
                        }
                    }
                }
                .countdown {
                    margin-top: 12px;
                    .number {
                        width: 35px;
                        height: 47px;
                    }
                    .number.hour {
                        margin-right: 22px;
                    }
                    .number.min2 {
                        margin-right: 11px;
                    }
                    img {
                        width: 100%;
                    }
                }
                .progress-bar {
                    margin-top: 10px;
                    width: 200px;
                    height: 1px;
                }
            }
            .using {
                margin-top: 420px;
                padding: 20px 0px;
                ul {
                    padding: 0;
                }
                li {
                    display: block;
                    margin: 20px auto 30px;
                    font-size: 14px;
                    height: auto;
                    &:before {
                        top: -41px;
                        left: -90px;
                        height: 100px;
                        -webkit-background-size: 20%;
                        background-size: 20%;
                    }
                    &:last-child {
                        margin-bottom: 20px;
                    }
                }
                .caption {
                    text-align: left;
                    padding-left: 70px;
                }
            }
            section.applestore {
                padding-top: 110px;
            }
            .caution {
                padding-top: 100px;
                font-size: 10px;
                p {
                    width: auto;
                }
                span {
                    display: inline-block;
                    width: 100%;
                }
            }
        }
        footer {
            padding: 10px 7px;
        }
    }
}
