html {
  height: 100%;
  overflow: hidden;
}
#test {
  cursor: default;
  @mixin transition($val...) {
    -webkit-transition: $val;
    -moz-transition: $val;
    -o-transition: $val;
    transition: $val;
  }
  .menu {
    position: relative;
    display: inline-block;
    z-index: 1000;
    font-size: 13px;
    margin-left: 40px;
    margin-top: 450px;
    li {
      margin-bottom: 10px;
      &:first-child {
        margin-bottom: 30px;
      }
    }
  }
  .lope {
    @include transition(100ms ease-in);
    background: url("../images/image_lope.png") no-repeat;
    width: 3px;
    height: 950px;
    > * {
      top: 0;
      opacity: 1;
    }
    .drop {
      @include transition(700ms ease-in-out 10ms);
      top: 2000px;
      opacity: 0;
      > * {
        opacity: 0;
      }
    }
  }

  .adhensive {
    background: url("../images/image_adhensive.png") center top no-repeat;
    width: 20px;
    height: 20px;
    cursor: pointer;
  }
  .adhensive-sub {
    background: url("../images/image_adhensive_sub.png") center top no-repeat;
    width: 85px;
    height: 20px;
    cursor: pointer;
  }

  $obj-list: sun, moon, cloud;

  @each $obj in $obj-list {
    .#{$obj} {
      background-image: url("../images/image_#{$obj}.png");
      background-position: center center;
      background-repeat: no-repeat;
      -webkit-background-size: 100%;
      background-size: 100%;
      &.face {
        background-image: url("../images/image_#{$obj}_face.png");
      }
    }
  }
  
  .symbol {
    width: 118px;
    height: 118px;
  }

  .cloud {
    width: 137px;
    height: 68px;
    &.click {
      width: 200px;
    }
    &.face {
      //cursor: pointer;
    }
    &.mater-hand {
      background-image: url("../images/image_cloud_hand.png");
      .mater {
        @include transition(300ms ease-in-out 0ms);
        background-image: url("../images/image_mater_hum.png");
        top: 0;
        opacity:0;
        width: 53px;
        height: 317px;
        background-repeat: no-repeat;
        &.show {
          top: 0;
          opacity: 1;
        }
      }
    }
    &.sunny.face {
      background-image: url("../images/image_cloud_face_light.png");
    }
    &.rain .fall-obj {
      background-image: url("../images/image_rain_3.png");
      &:before {
        background-image: url("../images/image_rain_1.png");
      }
      &:after {
        background-image: url("../images/image_rain_2.png");
      }
    }
    &.snow .fall-obj {
      background-image: url("../images/image_snow_1.png");
      &:before {
        background-image: url("../images/image_snow_3.png");
      }
      &:after {
        background-image: url("../images/image_snow_2.png");
      }
    }
  }

  .sun-core {
    background-image: url("../images/image_sun_core.png");
    top: 0;
    opacity: 1;
    width: 79px;
    height: 79px;
    background-repeat: no-repeat;
    //cursor: pointer;
    &.click {
      top: 2px;
    }
    &.break-1 {
      background-image: url("../images/image_sun_core_break_1.png");
    }
    &.break-2 {
      background-image: url("../images/image_sun_core_break_2.png");
    }
    &.break-3 {
      background-image: url("../images/image_sun_core_parts_1.png");
      cursor: default;
      &:before, &:after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
      }
      &:before {
        background-image: url("../images/image_sun_core_parts_2.png");
      }
      &:after {
        background-image: url("../images/image_sun_core_parts_3.png");
      }
    }
    &.break-3.drop {
      @include transition(700ms ease-in-out 50ms);
      &:before, &:after {
        top: 2000px;
      }
      &:before {
        @include transition(700ms ease-in-out 0ms);
      }
      &:after {
        @include transition(700ms ease-in-out 25ms);
      }
    }
  }

  .clock {
    position: relative;
    width: 79px;
    height: 79px;
    .hour, .min, .sec {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
  }

.fall-obj {
  position: relative;
  width: 81px;
  height: 200px;
  top: 0;
  background-position: center top;
  background-repeat: no-repeat;
  &:before, &:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
  }
  &.drop {
    @include transition(700ms ease-in-out 100ms);
    top: 2000px;
    &:before, &:after {
      top: 2000px;
    }
    &:before {
      @include transition(700ms ease-in-out 0ms);
    }
    &:after {
      @include transition(700ms ease-in-out 50ms);
    }
  }
}
  


  .control-box .front {
    display: none;
    background: rgba(255,0,0,0.55); 
  }
  .control-box .left { 
    display: none;
    background: rgba(0,0,255,0.55); 
  }
  .control-box .right { 
    display: none;
    background: rgba(255,255,0,0.55); 
  }
  .control-box .bottom { 
    display: none;
    background: rgba(255,0,255,0.55); 
  }
  .control-box .top { 
    display: none;
    background: rgba(0,255,255,0.55); 
  }
  .control-box .back { 
    display: none;
    background: rgba(255,255,255,0.55); 
  }
}
