html {
    @extend %reset;
    @extend %site-reset;
}

//========================================
// animation
//========================================
#general-layout {
    $logo-width: 120px;
    $logo-height: 40px;
    $header-padding: 30px;
    $header-width: $logo-width + ($header-padding * 2);
    @include perspective(5000px, 50% 50%);
    overflow: hidden;
    #header {
        display: table;
        position: fixed;
        z-index: 1000;
        box-sizing: border-box;
        height: 100%;
        float: left;
        a, a:visited {
            text-decoration: none;
            color: #000;
        }
        .h-contents {
            display: table-cell;
            width: $logo-width;
            padding: 0px $header-padding;
            vertical-align: middle;
        }
        .logo {
            .pjax-link {
                display: block;
                width: 100%;
                height: $logo-height;
                background: url("../images/share/logo_noht.png") no-repeat;
                -webkit-background-size: contain;
                background-size: contain;
            }
        }
        #gmenu {
            padding-top: 60px;
            > li {
                position: relative;
                line-height: 30px;
                &.selected:before {
                    content: '';
                    position: absolute;
                    width: 10px;
                    height: 100%;
                    top: -1px;
                    left: -13px;
                    background: url("../images/share/icon_list_marker.png") center no-repeat; 
                    -webkit-background-size: 40%;
                    background-size: 40%;
                }
            }
        }
        .language {
            margin-top: 50px;
        }
    }
    &.wrapper1 #wrapper1, &.wrapper2 #wrapper2 {
        @include transform(rotateX(0deg) translate3d(0px, 0px, 0px));
        z-index: 10;
    }
    #wrapper1, #wrapper2 {
        @include backface-visibility(hidden);
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
        background-color: #fff;
    }
    .main {
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        position: fixed;
    }
    .site-contents {
        @include perspective(2000px, 50% 50%);
        position: relative;
        width: 100%;
        height: 100%;
        &.pers-left {
            -webkit-perspective-origin: $header-width 50%;
            -moz-perspective-origin: $header-width 50%;
        }
        &.pers-right {
            -webkit-perspective-origin: 100% 50%;
            -moz-perspective-origin: 100% 50%;
        }
        &.pers-top {
            -webkit-perspective-origin: 50% 0%;
            -moz-perspective-origin: 50% 0%;
        }
        &.pers-bottom {
            -webkit-perspective-origin: 50% 100%;
            -moz-perspective-origin: 50% 100%;
        }
    }
    .site-content {
        @include backface-visibility(hidden);
        @include transform(rotateX(0deg) rotateY(0deg) translate3d(0px, 0px, 0px));
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;
        opacity: 0;
        box-sizing: border-box;
        background-clip: content-box;
        z-index: 10;
        padding-left: $header-width;
        background-color: #fff;
        &.show {
            opacity: 1;
        }
    }
    .wrapper-transition {
        @include transition(800ms cubic-bezier(0.215, 0.61, 0.355, 1));
    }

    .content-transition {
        @include transition(800ms cubic-bezier(0.215, 0.61, 0.355, 1));
    }
    .index #about, .index #products, #about .index, #products .index {
        -webkit-transform-origin: 50% 50%;
        -moz-transform-origin: 50% 50%;
    }
    .about #about, .about #products, .products #about, .products #products {
        -webkit-transform-origin: calc((( 100% - #{$header-width} ) / 2) + #{$header-width}) 50%;
        -moz-transform-origin: calc((( 100% - #{$header-width} ) / 2) + #{$header-width}) 50%;
    }

    .index {
        #about, #products {
            z-index: 0;
            overflow: hidden;
            background-color: #ddd;
        }
    }
    .about {
        #index, #products {
            z-index: 0;
            overflow: hidden;
            background-color: #ddd;
        }
    }
    .products {
        #index, #about {
            z-index: 0;
            overflow: hidden;
            background-color: #ddd;
        }
    }

    #recruit {
        background-color: #ced808;
    }
}

#general-layout {

    $pc_short: 1000px;
    $tablet_width: 900px;
    $smart_phone_width: 700px;
    //----------------------------------------
    // pcのウィンドウ幅縮小時
    //----------------------------------------
    @media screen and (max-width: $pc_short) {
        $logo-width: 100px;
        $header-padding: 25px;
        $header-width: $logo-width + ($header-padding * 2);
        #header {
            .h-contents {
                width: $logo-width;
                padding: 0px $header-padding;
            }
            .logo .pjax-link {
                -webkit-background-size: $logo-width auto;
                background-size: $logo-width auto;
            }
            #gmenu {
                padding-top: 40px;
            }
        }
        .site-contents.pers-left {
            -webkit-perspective-origin: $header-width 50%;
            -moz-perspective-origin: $header-width 50%;
        }
        .site-content {
            padding-left: $header-width;
        }
        .about #about, .about #products, .products #about, .products #products {
            -webkit-transform-origin: calc((( 100% - #{$header-width} ) / 2) + #{$header-width}) 50%;
            -moz-transform-origin: calc((( 100% - #{$header-width} ) / 2) + #{$header-width}) 50%;
        }
    }
    //----------------------------------------
    // smart phone版はここ
    //----------------------------------------
    @media screen and (max-width: $smart_phone_width) {
        $padding-top: 45px;
        $logo_width: 80px;
        $header-padding: 20px;
        $header-width: $logo-width + ($header-padding * 2);
        #wrapper1 {
            #header {
                position: fixed;
                display: block;
                top: 0;
                left: 0;
                width: 100%;
                height: 45px;
                z-index: 10;
                background-color: rgba(255, 255, 255, 0);
                overflow: hidden;
                .h-contents {
                    display: table;
                    position: relative;
                    width: 100%;
                    height: 100%;
                    padding: 0px 0px;
                    text-align: center;
                }
                .logo {
                    position: absolute;
                    width: 100%;
                    display: block;
                    z-index: 10;
                    .pjax-link {
                        display: inline-block;
                        width: 100px;
                        height: 45px;
                        background-image: url("../images/share/logo_noht_gray.png");
                        background-position: center;
                        -webkit-background-size: $logo-width auto;
                        background-size: $logo-width auto;
                    }
                } 
                #gmenu {
                    position: relative;
                    display: table-cell;
                    vertical-align: middle;
                    width: 1%;
                    height: 100%;
                    top: 0;
                    opacity: 0;
                    z-index: 0;
                    > li {
                        text-align: left;
                        &.selected:before {
                            top: -2px;
                        }
                    }
                }
                .language {
                    margin-top: 30px;
                    display: block;
                    width: 100%;
                }
                .menu-button {
                    $icon_size: 22px;
                    position: absolute;
                    top: $header-padding;
                    margin-top: -$icon_size / 2;
                    right: 20px;
                    width: $icon_size + 5px;
                    height: $icon_size + 5px;
                    background-image: url("../images/share/icon_menu.png");
                    background-position: center;
                    background-repeat: no-repeat;
                    -webkit-background-size: 80%;
                    background-size: 80%;
                    cursor: pointer;
                    z-index: 10;
                    opacity: 0.5;
                }
                &.show {
                    @include transition(background-color 300ms ease-in-out);
                    height: 100%;
                    z-index: 20;
                    background-color: rgba(255, 255, 255, 1);
                    #gmenu {
                        @include transition(300ms ease-in-out);
                        opacity: 1;
                    }
                    .menu-button {
                        background-image: url("../images/share/icon_cross.png");
                        opacity: 1;
                    }
                }
            }
            .main {
                z-index: 0;
                padding-top:  $padding-top;
            }
            .site-contents.pers-left {
                -webkit-perspective-origin: $header-width 50%;
                -moz-perspective-origin: $header-width 50%;
            }
            .site-content {
                padding-left: 0;
                &.pers-left {
                    -webkit-perspective-origin: 0% 50%;
                    -moz-perspective-origin: 0% 50%;
                }
            }
        }
        .about #about, .about #products, .products #about, .products #products {
            -webkit-transform-origin: 50% 50%;
            -moz-transform-origin: 50% 50%;
        }
    }
}
