html {
    @extend %reset;
    @extend %site-reset;
}

//========================================
// animation
//========================================
#general-layout {
    //wrapperのanimationに必要な部分
    @include perspective(5000, 50% 50%);
    #wrapper1, #wrapper2 {
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
        background: #ffffff;

        @include backface-visibility(hidden);
        @include perspective(2000, 50% 50%);
    }
    &.wrapper1 #wrapper1{
        @include transform(rotateY(0deg) translate3d(0px,0px, 0px));
        z-index: 10;
    }
    &.wrapper2 #wrapper2{
        @include transform(rotateY(0deg) translate3d(0px,0px, 0px));
        z-index: 10;
    }

    .main {
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        position: fixed;
        padding-left: 260px;
    }
    .site-contents {
        width: 100%;
        height: 100%;
        position: relative;
    }

    //site-contentsのanimationに必要な部分
    .site-content {
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        opacity: 1.0;

        box-sizing: border-box;
        background-clip: content-box;

        @include transform(rotateY(0deg) translate3d(0px,0px, 0px));
        z-index: 10;
    }
    #index {
        opacity: 0;
    }
    .index {
        #index {
            opacity: 1.0;
        }
        .site-content {
            opacity: 0;
        }
    }
    .about {
        #products {
            z-index: 0;
            visibility: hidden;
        }
    }
    .products {
        #about {
            z-index: 0;
            visibility: hidden;
        }
    }
    #about {
        background-color: #e82010;
    }
    #index {
        background-color: #ffffff;
    }
    #recruit {
        background-color: #ced808;
    }
}

#general-layout {
    $tablet_width: 1024px;
    $smart_phone_width: 520px;
    $animate_time: 800ms;

    #header {
        z-index: 1000;
        box-sizing: border-box;
        padding: 10px 30px;
        position: fixed;
    }
    //----------------------------------------
    // smart phone版はここ
    //----------------------------------------
    @media screen and (max-width: $smart_phone_width) {
        #header {
            width: 100%;
        }
        #products {
            .content {
                font-size: 13px;
            }
        }
    }

    //----------------------------------------
    // tablet版はここ
    //----------------------------------------
    @media screen and (min-width: $smart_phone_width) and (max-width: $tablet_width) {
        #header {
            width: 100%;
        }
        #products {
            .content {
                font-size: 13px;
            }
        }
    }

    //----------------------------------------
    // PC版はここ
    //----------------------------------------
    @media screen and (min-width: $tablet_width) {
        $side-width: 260px;
        #header {
            width: $side-width;
            margin-top: 10%;
            float: left;
        }
        #gmenu {
            padding-top: 60px;
            > li {
                line-height: 30px;
                font-weight: bold;
            }
        }
        .site-content {
            .content {
                font-size: 13px;
            }
        }
    }
}
