html {
    @extend %reset;
    @extend %site-reset;
}

//========================================
// animation
//========================================

#general-layout {
    $logo-width: 120px;
    $logo-height: 40px;
    $header-width: 180px;
    @include perspective(1000px);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    position: relative;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    &.wrapper1 {
        @include perspective-origin(50% 100%);
    }
    &.wrapper2 {
        @include perspective-origin(50% 0%);
    }
    #wrapper1, #wrapper2 {
        @include transform-origin(50% 50%);
        @include backface-visibility(hidden);
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
        background-color: #fff;
        opacity: 1;
    }
    &.wrapper1 #wrapper1, &.wrapper2 #wrapper2 {
        @include transform(rotateX(0deg) translate3d(0px, 0px, 0px));
        z-index: 10;
    }
    #wrapper1 .site-content {
        background-color: #fff;
        padding-left: $header-width;
    }
    #header {
        display: table;
        position: fixed;
        z-index: 1000;
        box-sizing: border-box;
        height: 100%;
        float: left;
        z-index: 10;
        a, a:visited {
            text-decoration: none;
            color: #000;
        }
        .h-contents {
            display: table-cell;
            vertical-align: middle;
        }
        .logo .pjax-link {
            display: inline-block;
            width: 100%;
            height: $logo-height;
            background: url("../images/share/logo_noht.png") no-repeat;
            -webkit-background-size: 120px auto;
            background-size: $logo-width auto;
            background-position: 20px center;
        }
        #gmenu {
            padding-top: 60px;
            .pjax-link {
                @include perspective(800px);
                @include perspective-origin(50% 50%);
                position: relative;
                display: block;
                width: $header-width;
                height: 50px;
                line-height: 4;
                > span {
                    @include backface-visibility(hidden);
                    position: absolute;
                    display: block;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                }
                p {
                    padding-left: 20px;
                }
                .bg-color {
                    @include transform(rotateY(90deg) translate3d(90px, 0px, 90px));
                    z-index: 0;
                    color: #fff;
                    background-color: #111;
                }
                .bg-none {
                    @include transform(rotateY(0deg) translate3d(0px, 0px, 0px));
                    background-color: red;
                    z-index: 10;
                    background-color: #fff;
                }
            }
            .selected .pjax-link {
                .bg-color {
                    @include transform(rotateY(0deg) translate3d(0px, 0px, 0px));
                    background-color: #222;
                    z-index: 10;
                }
                .bg-none {
                    @include transform(rotateY(-90deg) translate3d(-90px, 0px, 90px));
                    background-color: red;
                    z-index: 0;
                    background-color: #ccc;
                }
            }
            .bg-none:hover, .contact .pjax-link:hover {
                background-color: #efefef;
            }
        }
        .language {
            position: absolute;
            padding-left: 20px;
            bottom: 80px;
            span {
                margin-right: 5px;
                padding: 5px 8px;
            }
            .selected {
                background-color: rgba(0, 0, 0, 0.1);
            }
        }
    }
    .main {
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        position: fixed;
    }
    .site-contents {
        @include perspective(2000px);
        @include perspective-origin(50% 50%);
        position: relative;
        width: 100%;
        height: 100%;
        &.pers-left {
            @include perspective-origin($header-width 50%);
        }
        &.pers-right {
            @include perspective-origin(100% 50%);
        }
        &.pers-top {
            @include perspective-origin(50% 0%);
        }
        &.pers-bottom {
            @include perspective-origin(50% 100%);
        }
    }
    .site-content {
        @include backface-visibility(hidden);
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;
        opacity: 0;
        box-sizing: border-box;
        background-clip: content-box;
        z-index: 10;
        &.show {
            opacity: 1;
        }
    }
    .wrapper-transition {
        @include transition(800ms cubic-bezier(0.215, 0.61, 0.355, 1));
    }

    #contact, .content-transition {
        @include transition(800ms cubic-bezier(0.215, 0.61, 0.355, 1));
    }
    .index #about, .index #products, #about .index, #products .index {
        @include transform-origin(50%);
    }

    .about #about, .products #products, .contact #contact {
        @include transform(rotateX(0deg) rotateY(0deg) translate3d(0px, 0px, 0px));
    }

    .index {
        #about, #products {
            z-index: 0;
            overflow: hidden;
            background-color: #ddd;
        }
    }
    .about {
        #index, #products {
            z-index: 0;
            overflow: hidden;
            background-color: #ddd;
        }
    }
    .products {
        #index, #about {
            z-index: 0;
            overflow: hidden;
            background-color: #ddd;
        }
    }

    &.wrapper1 #contact {
        background-color: #fff;
    }
    &.wrapper2 #contact {
        background-color: #eaeaea;
    }
}

#general-layout {

    $pc_short: 1000px;
    $tablet_width: 900px;
    $smart_phone_width: 700px;
    //----------------------------------------
    // pcのウィンドウ幅縮小時
    //----------------------------------------
    @media screen and (max-width: $pc_short) {
        $logo-width: 100px;
        $header-padding: 25px;
        $header-width: 140px;
        #wrapper1 .site-content {
            padding-left: $header-width;
        }
        #header {
            .logo .pjax-link {
                -webkit-background-size: $logo-width auto;
                background-size: $logo-width auto;
            }
            #gmenu {
                padding-top: 40px;
                .pjax-link {
                    width: $header-width;
                    .bg-color {
                        @include transform(rotateY(90deg) translate3d(70px, 0px, 70px));
                    }
                }
                .selected .pjax-link {
                    .bg-none {
                        @include transform(rotateY(-90deg) translate3d(-70px, 0px, 70px));
                    }
                }
            }
        }
        .site-contents.pers-left {
            @include perspective-origin($header-width 50%);
        }
    }
    //----------------------------------------
    // smart phone版はここ
    //----------------------------------------
    @media screen and (max-width: $smart_phone_width) {
        $padding-top: 45px;
        $logo_width: 50px;
        #wrapper1 {
            #header {
                position: fixed;
                display: block;
                top: 0;
                left: 0;
                width: 100%;
                height: 45px;
                z-index: 10;
                background-color: rgba(255, 255, 255, 0);
                overflow: hidden;
                .h-contents {
                    display: table;
                    position: relative;
                    width: 100%;
                    height: 100%;
                    padding: 0px 0px;
                }
                .logo {
                    position: absolute;
                    width: 100%;
                    display: block;
                    z-index: 10;
                    .pjax-link {
                        display: inline-block;
                        width: 60px;
                        height: 45px;
                        background-image: url("../images/share/logo_noht_gray.png");
                        background-position: 10px 19px;
                        -webkit-background-size: $logo-width auto;
                        background-size: $logo-width auto;
                    }
                }
                #gmenu {
                    position: relative;
                    display: table-cell;
                    vertical-align: middle;
                    width: 1%;
                    height: 100%;
                    top: 0;
                    opacity: 0;
                    z-index: 0;
                    > li {
                        margin-bottom: 8px;
                        &:last-child {
                            margin-bottom: 0;
                        }
                        &.selected:before {
                            display: none;
                            top: -2px;
                        }
                        .pjax-link {
                            @include transition(100ms ease-in-out);
                            display: block;
                            width: 100px;
                            height: 100px;
                            background-color: #eee;
                            background-repeat: no-repeat;
                            background-position: center;
                            -webkit-background-size: 50%;
                            background-size: 50%;
                            font-size: 0;
                            > span {
                                display: none;
                            }
                        }
                        &.selected .pjax-link {
                            background-color: #ccc;
                        }
                        &.products .pjax-link {
                            background-image: url("../images/share/icon_products.png");
                        }
                        &.about .pjax-link {
                            background-image: url("../images/share/icon_about.png");
                        }
                        &.contact .pjax-link {
                            background-image: url("../images/share/icon_contact.png");
                        }
                    }
                    .language {
                        @include clearfix;
                        position: static;
                        margin-bottom: 10px;
                        bottom: auto;
                        padding-left: 0;
                        span {
                            text-align: center;
                            margin: 0;
                            background-color: #eee;
                            padding: 0;
                        }
                        .selected {
                            background-color: #ccc;
                        }
                        a {
                            display: block;
                            padding: 10px 15px;
                        }
                        .en {
                            float: left;
                            margin-bottom: 10px;
                        }
                        .jp {
                            float: right;
                        }
                    }
                }
                .menu-button {
                    $icon_size: 22px;
                    position: absolute;
                    top: 20px;
                    margin-top: -$icon_size / 2;
                    right: 20px;
                    width: $icon_size + 8px;
                    height: $icon_size + 8px;
                    background-image: url("../images/share/icon_menu.png");
                    background-position: center;
                    background-repeat: no-repeat;
                    -webkit-background-size: 80%;
                    background-size: 80%;
                    cursor: pointer;
                    z-index: 10;
                    opacity: 0.5;
                }
                &.show {
                    @include transition(background-color 300ms ease-in-out);
                    height: 100%;
                    z-index: 20;
                    background-color: rgba(255, 255, 255, 1);
                    overflow: scroll;
                    #gmenu {
                        @include transition(300ms ease-in-out);
                        opacity: 1;
                    }
                    .menu-button {
                        background-image: url("../images/share/icon_cross.png");
                        opacity: 1;
                        right: 8px;
                    }
                }
            }
            .main {
                z-index: 0;
                padding-top:  $padding-top;
            }
            .site-contents.pers-left {
                @include perspective-origin(0% 50%);
            }
            .site-content {
                padding-left: 0;
            }
        }
        .about #about, .about #products, .products #about, .products #products {
            @include transform-origin(50%);
        }
    }
}