#contact {
    $button-width: 200px;
    $button-height: 70px;
    $error-color: #e73738;
    overflow-y: scroll;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    position: fixed;
    width: 100%;
    height: 100%;
    .form-wrapper, .thanks-wrapper {
        @include transition(300ms ease-in-out);
        display: table;
        position: absolute;
        padding: 40px 0px;
        width: 100%;
        height: 100%;
        > * {
            display: table-cell;
            vertical-align: middle;
            text-align: center;
        }
    }
    input, textarea {
        padding: 9px 18px;
        border: 1px solid transparent;
        border-radius: none;
        box-sizing: border-box;
        &:focus {
            border-color: #1794f3;
        }
        &.empty {
            color: rgba(0, 0, 0, 0.3);
        }
    }
    input {
        width: 100%;
        background-color: white;
    }
    textarea {
        width: 100%;
        height: 100%;
        resize: none;
        background-color: white;
    }
    label {
        display: block;
        text-align: left;
        margin-bottom: 5px;
    }
    button {
        display: none;
        background-color: transparent;
        &:focus {
            outline: none;
        }
    }
    .form-wrapper {
        z-index: 10;
    }
    .form-contents {
        display: inline-block;
        font-size: 17px;
    }
    .customer-info {
        position: relative;
        width: 350px;
        text-align: center;
        margin: 0px auto;
        margin-bottom: 15px;
        &:after {
            content: "!";
            position: absolute;
            top: 50%;
            right: -15px;
            font-size: 17px;
            color: #e73738;
            margin-top: -12px;
            opacity: 0;
        }
    }
    .message-wrapper {
        margin-top: 20px;
        width: 780px;
        height: 200px;
    }
    .action {
        @include perspective(800px, 50% 0%);
        display: inline-block;
        position: relative;
        margin-top: 20px;
        width: $button-width;
        height: $button-height;
        > * {
            @include backface-visibility(hidden);
            @include transition(300ms);
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            cursor: pointer;
        }
    }
    .button-content {
        display: table;
        width: 100%;
        height: 100%;
        > * {
            display: table-cell;
            vertical-align: middle;
        }
    }
    .confirm {
        $bg-color: #636363;
        @include transform(rotateX(0deg) translate3d(0px, 0px, 0px));
        background-color: $bg-color;
        z-index: 10;
        color: white;
        &:hover {
            background-color: lighten($bg-color, 5%);
        }
        &:active {
            @include transition(0ms);
            background-color: darken($bg-color, 5%);
        }
    }
    .submit {
        $bg-color: #d80355;
        @include transform(rotateX(90deg) translate3d(0px, -$button-height / 2, $button-height / 2));
        background-color: $bg-color;
        z-index: 0;
        color: white;
        &:hover {
            background-color: lighten($bg-color, 5%);
        }
        &:active {
            @include transition(0ms);
            background-color: darken($bg-color, 5%);
        }
    }
    .cancel {
        $button-size: 93px;
        position: relative;
        margin-top: 80px;
        height: $button-size;
        .back, .close {
            @include transition(300ms);
            position: absolute;
            width: $button-size;
            height: 100%;
            top: 0;
            left: 50%;
            margin-left: -$button-size / 2;
        }
        .back, .pjax-link {
            background-position: center;
            background-repeat: no-repeat;
            -webkit-background-size: contain;
            background-size: contain;
            cursor: pointer;
        }
        .close {
            z-index: 100;
        }
        .pjax-link {
            @include transition(300ms);
            display: block;
            width: 100%;
            height: 100%;
            opacity: 0.6;
            background-image: url('../images/contact/icon_cross.png');
            &:hover {
                opacity: 1;
            }
        }
        .back {
            z-index: 0;
            opacity: 0;
            background-image: url('../images/contact/icon_back.png');
        }
    }
    .check {
        input, textarea {
            @include transition(300ms);
            background-color: transparent;
            border: 1px solid rgba(0, 0, 0, 0.05);
        }
        .action {
            @include perspective(800px, 50% 100%);
        }
        .confirm {
            @include transform(rotateX(-90deg) translate3d(0px, $button-height / 2, $button-height / 2));
            z-index: 0;
        }
        .submit {
            @include transform(rotateX(0deg) translate3d(0px, 0px, 0px));
            z-index: 10;
        }
        .cancel {
            .close {
                z-index: 0;
            }
            .pjax-link, .pjax-link:hover {
                opacity: 0;
            }
            .back {
                z-index: 100;
                opacity: 0.6;
                &:hover {
                    opacity: 1;
                }
            }
        }
    }
    .has-error {
        input, textarea {
            background-color: lighten($error-color, 40%);
            border-color: $error-color;
            &:focus {
                border-color: #1794f3;
                background-color: #fff;
            }
        }
        &:after {
            opacity: 1;
        }
    }
    .thanks-wrapper {
        opacity: 0;
        z-index: 0;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-size: 25px;
        p img {
            width: 570px;
            opacity: 0.5;
        }
        .close {
        }
    }
    .send-request.form-wrapper {
        opacity: 0;
        z-index: 0;
    }
    .send-request.thanks-wrapper {
        opacity: 1;
        z-index: 10;
    }
}
#contact {
    $pc_short: 1100px;
    $tablet_width: 900px;
    $smart_phone_width: 700px;
    //----------------------------------------
    // pcのウィンドウ幅縮小時
    //----------------------------------------
    @media screen and (max-width:$pc_short) {
    }
    //----------------------------------------
    // tablet版はここ
    //----------------------------------------
    @media screen and (max-width: $tablet_width) {
        .message-wrapper {
            width: 640px;
        }
        .action {
            margin-top: 0;
        }
        .thanks-wrapper p img {
            width: 640px;
        }
        .cancel {
            margin-top: 40px;
            .close, .back {
                $width: 50px;
                width: 50px;
                margin-left: -$width / 2;
            }
        }
    }
    //----------------------------------------
    // smart phone版はここ
    //----------------------------------------
    @media screen and (max-width: $smart_phone_width) {
        .customer-info, .message-wrapper {
            width: 300px;
        }
        .message-wrapper {
            margin: 0;
            margin-bottom: 15px;
            height: 100px;
        }
        .thanks-wrapper p img {
            width: 300px;
        }
    }
}
