$site-pie-behavior: url("/htc/PIE.htc");
$site-boxsizing-behavior: url("/htc/boxsizing.htc");

$site-mainWidth: 1000px;
$site-minWidth: 1065px;

$site-borderTop: 10px;
$site-borderBottom: 16px;

$site-color: #222222;

$site-gnav-list: 'badge' 'price' 'guide' 'design' 'faq' 'company';
$site-fnav-list: 'badge' 'price' 'guide' 'design' 'faq' 'company' 'others';
