@charset "UTF-8";
/* line 6, ../scss/alccalc.scss */
#alccalc .applestore {
  display: none !important;
}
/* line 9, ../scss/alccalc.scss */
#alccalc .display-image {
  height: 79% !important;
}
/* line 12, ../scss/alccalc.scss */
#alccalc .caution {
  padding-top: 240px !important;
}
@media screen and (max-width: 700px) {
  /* line 16, ../scss/alccalc.scss */
  #alccalc .caution {
    padding-top: 140px !important;
  }
}

/* line 21, ../scss/alccalc.scss */
#alccalc {
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #e4002b;
}
/* line 80, ../scss/alccalc.scss */
#alccalc a {
  text-decoration: none;
}
/* line 83, ../scss/alccalc.scss */
#alccalc .applestore {
  padding-top: 55px;
}
/* line 85, ../scss/alccalc.scss */
#alccalc .applestore a {
  -webkit-transition: 100ms;
  -moz-transition: 100ms;
  -o-transition: 100ms;
  transition: 100ms;
  display: inline-block;
  opacity: 0.93;
  width: 142px;
}
/* line 90, ../scss/alccalc.scss */
#alccalc .applestore a:hover {
  opacity: 1;
}
/* line 94, ../scss/alccalc.scss */
#alccalc .applestore img {
  width: 100%;
}
/* line 98, ../scss/alccalc.scss */
#alccalc header {
  position: relative;
  top: 0;
  width: 100%;
  font-size: 0;
  background-color: #e4002b;
}
/* line 104, ../scss/alccalc.scss */
#alccalc header .content {
  width: 1000px;
  height: 850px;
  margin: 0px auto;
  background-image: url("/images/alcCalc/image_phone.png");
  background-repeat: no-repeat;
  -webkit-background-size: 420px;
  background-size: 420px;
  background-position: 10px 150px;
  text-align: right;
}
/* line 116, ../scss/alccalc.scss */
#alccalc header .language {
  position: absolute;
  font-size: 19px;
  color: #fff;
  top: 20px;
  right: 20px;
}
/* line 122, ../scss/alccalc.scss */
#alccalc header .language a, #alccalc header .language a:visited {
  color: #fff;
  margin: 0px 5px;
}
/* line 125, ../scss/alccalc.scss */
#alccalc header .language a.selected, #alccalc header .language a:visited.selected {
  text-decoration: underline;
}
/* line 130, ../scss/alccalc.scss */
#alccalc header .title {
  display: inline-block;
  margin-top: 400px;
  position: relative;
  text-align: center;
}
/* line 136, ../scss/alccalc.scss */
#alccalc header .title:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 67px;
  left: 4px;
  top: -70px;
  margin-top: -67px;
  background: url("/images/alcCalc/icon_alccalc.png") center center no-repeat;
  -webkit-background-size: 52px;
  background-size: 52px;
}
/* line 148, ../scss/alccalc.scss */
#alccalc header .title .logo img {
  width: 50%;
}
/* line 153, ../scss/alccalc.scss */
#alccalc .display-video-wrap {
  background-color: #f4f4f4;
  padding-top: 50px;
}
/* line 156, ../scss/alccalc.scss */
#alccalc .display-video-wrap .display-video {
  width: 80%;
  margin: 0px auto;
}
/* line 160, ../scss/alccalc.scss */
#alccalc .display-video-wrap .video-container {
  width: 1280px;
  max-width: 100%;
  min-width: 400px;
  margin: 0px auto;
}
/* line 166, ../scss/alccalc.scss */
#alccalc .display-video-wrap .video-wrap {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}
/* line 173, ../scss/alccalc.scss */
#alccalc .display-video-wrap iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* line 181, ../scss/alccalc.scss */
#alccalc .main {
  position: relative;
  background: #f4f4f4;
}
/* line 185, ../scss/alccalc.scss */
#alccalc .main .caption p {
  padding-top: 117px;
  font-size: 57px;
}
/* line 189, ../scss/alccalc.scss */
#alccalc .main .caption .note {
  display: block;
  padding-top: 30px;
  font-size: 24px;
}
/* line 195, ../scss/alccalc.scss */
#alccalc .main .display-image {
  position: absolute;
  width: 100%;
  height: 68%;
  margin-top: 100px;
  background: transparent url("/images/alcCalc/image_phone_trace.png") center top no-repeat;
  z-index: 999;
  -webkit-background-size: 633px 1312px;
  background-size: 633px 1312px;
}
/* line 204, ../scss/alccalc.scss */
#alccalc .main .display-image .reserve-value {
  display: none;
}
/* line 207, ../scss/alccalc.scss */
#alccalc .main .display-image .number-display {
  font-size: 0;
}
/* line 209, ../scss/alccalc.scss */
#alccalc .main .display-image .number-display > * {
  display: inline-block;
  position: relative;
  height: 100%;
  vertical-align: top;
}
/* line 215, ../scss/alccalc.scss */
#alccalc .main .display-image .number-display ul.invisible {
  display: none;
}
/* line 218, ../scss/alccalc.scss */
#alccalc .main .display-image .number-display li {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
/* line 224, ../scss/alccalc.scss */
#alccalc .main .display-image .number-display li.selected {
  opacity: 1;
}
/* line 229, ../scss/alccalc.scss */
#alccalc .main .display-image .clock-display {
  margin-top: 194px;
  overflow: hidden;
}
/* line 232, ../scss/alccalc.scss */
#alccalc .main .display-image .clock-display img {
  width: 100%;
}
/* line 235, ../scss/alccalc.scss */
#alccalc .main .display-image .clock-display .now-time {
  padding-top: 8px;
}
/* line 237, ../scss/alccalc.scss */
#alccalc .main .display-image .clock-display .now-time .number {
  width: 10px;
  height: 14px;
  background: left top no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
}
/* line 244, ../scss/alccalc.scss */
#alccalc .main .display-image .clock-display .now-time .coron {
  width: 7px;
}
/* line 248, ../scss/alccalc.scss */
#alccalc .main .display-image .clock-display .end-time {
  -webkit-transition: 300ms ease-in-out;
  -moz-transition: 300ms ease-in-out;
  -o-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
  position: relative;
  padding-top: 50px;
  top: -100px;
}
/* line 253, ../scss/alccalc.scss */
#alccalc .main .display-image .clock-display .end-time.scroll {
  top: 0px;
}
/* line 256, ../scss/alccalc.scss */
#alccalc .main .display-image .clock-display .end-time .number {
  width: 15px;
  height: 21px;
  background: left top no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
}
/* line 263, ../scss/alccalc.scss */
#alccalc .main .display-image .clock-display .end-time .coron {
  padding-left: 2px;
  width: 9px;
}
/* line 267, ../scss/alccalc.scss */
#alccalc .main .display-image .clock-display .end-time:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: transparent url("/images/alcCalc/icon_arrow_down.png") center 14px no-repeat;
  -webkit-background-size: 12px;
  background-size: 12px;
}
/* line 280, ../scss/alccalc.scss */
#alccalc .main .display-image .clock-display .number.num-0 {
  background-image: url("/images/alcCalc/image_clock_number_0.png");
}
/* line 280, ../scss/alccalc.scss */
#alccalc .main .display-image .clock-display .number.num-1 {
  background-image: url("/images/alcCalc/image_clock_number_1.png");
}
/* line 280, ../scss/alccalc.scss */
#alccalc .main .display-image .clock-display .number.num-2 {
  background-image: url("/images/alcCalc/image_clock_number_2.png");
}
/* line 280, ../scss/alccalc.scss */
#alccalc .main .display-image .clock-display .number.num-3 {
  background-image: url("/images/alcCalc/image_clock_number_3.png");
}
/* line 280, ../scss/alccalc.scss */
#alccalc .main .display-image .clock-display .number.num-4 {
  background-image: url("/images/alcCalc/image_clock_number_4.png");
}
/* line 280, ../scss/alccalc.scss */
#alccalc .main .display-image .clock-display .number.num-5 {
  background-image: url("/images/alcCalc/image_clock_number_5.png");
}
/* line 280, ../scss/alccalc.scss */
#alccalc .main .display-image .clock-display .number.num-6 {
  background-image: url("/images/alcCalc/image_clock_number_6.png");
}
/* line 280, ../scss/alccalc.scss */
#alccalc .main .display-image .clock-display .number.num-7 {
  background-image: url("/images/alcCalc/image_clock_number_7.png");
}
/* line 280, ../scss/alccalc.scss */
#alccalc .main .display-image .clock-display .number.num-8 {
  background-image: url("/images/alcCalc/image_clock_number_8.png");
}
/* line 280, ../scss/alccalc.scss */
#alccalc .main .display-image .clock-display .number.num-9 {
  background-image: url("/images/alcCalc/image_clock_number_9.png");
}
/* line 285, ../scss/alccalc.scss */
#alccalc .main .display-image .countdown {
  margin-top: 54px;
}
/* line 287, ../scss/alccalc.scss */
#alccalc .main .display-image .countdown .number {
  width: 71px;
  height: 96px;
  background: left top no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
}
/* line 293, ../scss/alccalc.scss */
#alccalc .main .display-image .countdown .number.hour {
  margin-right: 36px;
}
/* line 296, ../scss/alccalc.scss */
#alccalc .main .display-image .countdown .number.min2 {
  margin-right: 31px;
}
/* line 301, ../scss/alccalc.scss */
#alccalc .main .display-image .countdown .number.num-0 {
  background-image: url("/images/alcCalc/image_countdown_number_0.png");
}
/* line 301, ../scss/alccalc.scss */
#alccalc .main .display-image .countdown .number.num-1 {
  background-image: url("/images/alcCalc/image_countdown_number_1.png");
}
/* line 301, ../scss/alccalc.scss */
#alccalc .main .display-image .countdown .number.num-2 {
  background-image: url("/images/alcCalc/image_countdown_number_2.png");
}
/* line 301, ../scss/alccalc.scss */
#alccalc .main .display-image .countdown .number.num-3 {
  background-image: url("/images/alcCalc/image_countdown_number_3.png");
}
/* line 301, ../scss/alccalc.scss */
#alccalc .main .display-image .countdown .number.num-4 {
  background-image: url("/images/alcCalc/image_countdown_number_4.png");
}
/* line 301, ../scss/alccalc.scss */
#alccalc .main .display-image .countdown .number.num-5 {
  background-image: url("/images/alcCalc/image_countdown_number_5.png");
}
/* line 301, ../scss/alccalc.scss */
#alccalc .main .display-image .countdown .number.num-6 {
  background-image: url("/images/alcCalc/image_countdown_number_6.png");
}
/* line 301, ../scss/alccalc.scss */
#alccalc .main .display-image .countdown .number.num-7 {
  background-image: url("/images/alcCalc/image_countdown_number_7.png");
}
/* line 301, ../scss/alccalc.scss */
#alccalc .main .display-image .countdown .number.num-8 {
  background-image: url("/images/alcCalc/image_countdown_number_8.png");
}
/* line 301, ../scss/alccalc.scss */
#alccalc .main .display-image .countdown .number.num-9 {
  background-image: url("/images/alcCalc/image_countdown_number_9.png");
}
/* line 306, ../scss/alccalc.scss */
#alccalc .main .display-image .progress-bar {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: inline-block;
  margin-top: 20px;
  width: 463px;
  height: 3px;
  margin-left: 4px;
  border: 1px solid #e4002b;
}
/* line 314, ../scss/alccalc.scss */
#alccalc .main .display-image .progress-bar > div {
  width: 100%;
  height: 100%;
  background-color: #e4002b;
}
/* line 318, ../scss/alccalc.scss */
#alccalc .main .display-image .progress-bar > div.active {
  width: 0%;
}
/* line 321, ../scss/alccalc.scss */
#alccalc .main .display-image .progress-bar > div.loading {
  -webkit-transition: 2s linear;
  -moz-transition: 2s linear;
  -o-transition: 2s linear;
  transition: 2s linear;
  width: 0%;
}
/* line 328, ../scss/alccalc.scss */
#alccalc .main .using {
  position: relative;
  width: 100%;
  background-color: #e4002b;
  margin-top: 810px;
  color: #fff;
  z-index: 1000;
}
/* line 335, ../scss/alccalc.scss */
#alccalc .main .using ul {
  font-size: 0;
  padding: 48px 0px;
}
/* line 339, ../scss/alccalc.scss */
#alccalc .main .using li {
  display: inline-block;
  position: relative;
  width: 300px;
  height: 120px;
  font-size: 20px;
}
/* line 345, ../scss/alccalc.scss */
#alccalc .main .using li:before {
  content: "";
  position: absolute;
  left: 0;
  top: 25px;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: 40%;
  background-size: 40%;
}
/* line 361, ../scss/alccalc.scss */
#alccalc .main .using .breath:before {
  background-image: url("/images/alcCalc/icon_using_breath.png");
}
/* line 361, ../scss/alccalc.scss */
#alccalc .main .using .blood:before {
  background-image: url("/images/alcCalc/icon_using_blood.png");
}
/* line 361, ../scss/alccalc.scss */
#alccalc .main .using .calorie:before {
  background-image: url("/images/alcCalc/icon_using_calorie.png");
}
/* line 361, ../scss/alccalc.scss */
#alccalc .main .using .hangover:before {
  background-image: url("/images/alcCalc/icon_using_hangover.png");
}
/* line 361, ../scss/alccalc.scss */
#alccalc .main .using .share:before {
  background-image: url("/images/alcCalc/icon_using_share.png");
}
/* line 361, ../scss/alccalc.scss */
#alccalc .main .using .no_ad:before {
  background-image: url("/images/alcCalc/icon_using_no_ad.png");
}
/* line 366, ../scss/alccalc.scss */
#alccalc .main .applestore {
  background-color: #fff;
  padding-top: 230px;
}
/* line 370, ../scss/alccalc.scss */
#alccalc .main .caution {
  background-color: #fff;
  padding-top: 90px;
  font-size: 12px;
  font-weight: 600;
  line-height: 1.5em;
}
/* line 376, ../scss/alccalc.scss */
#alccalc .main .caution img {
  width: 64px;
}
/* line 379, ../scss/alccalc.scss */
#alccalc .main .caution p {
  display: inline-block;
  width: 40%;
  padding-top: 10px;
}
/* line 386, ../scss/alccalc.scss */
#alccalc footer {
  display: inline-block;
  margin: 100px 0px 20px;
  padding: 15px 80px;
  background-color: #f4f4f4;
}
/* line 392, ../scss/alccalc.scss */
#alccalc footer .copyright {
  font-size: 17px;
}
/* line 395, ../scss/alccalc.scss */
#alccalc footer .staff {
  padding-top: 15px;
  font-size: 12px;
  line-height: 1.5em;
}
/* line 400, ../scss/alccalc.scss */
#alccalc footer a, #alccalc footer a:visited {
  color: #4f4f4f;
}
@media screen and (max-width: 700px) {
  /* line 406, ../scss/alccalc.scss */
  #alccalc header .content {
    width: auto;
    -webkit-background-size: 300px;
    background-size: 300px;
    background-position: center 400px;
  }
  /* line 411, ../scss/alccalc.scss */
  #alccalc header .content .title {
    margin-top: 200px;
    float: none;
  }
  /* line 415, ../scss/alccalc.scss */
  #alccalc header .content .image {
    width: auto;
    margin-top: 50px;
  }
  /* line 421, ../scss/alccalc.scss */
  #alccalc .display-video-wrap .display-video {
    width: 100%;
  }
  /* line 423, ../scss/alccalc.scss */
  #alccalc .display-video-wrap .display-video .video-container {
    min-width: 0;
  }
  /* line 429, ../scss/alccalc.scss */
  #alccalc .main .caption p {
    padding-top: 70px;
    font-size: 25px;
  }
  /* line 433, ../scss/alccalc.scss */
  #alccalc .main .caption .note {
    font-size: 15px;
  }
  /* line 437, ../scss/alccalc.scss */
  #alccalc .main .display-image {
    width: 300px;
    height: 40%;
    left: 50%;
    margin-top: 50px;
    margin-left: -150px;
    -webkit-background-size: 100%;
    background-size: 100%;
  }
  /* line 446, ../scss/alccalc.scss */
  #alccalc .main .display-image .clock-display {
    margin-top: 90px;
  }
  /* line 448, ../scss/alccalc.scss */
  #alccalc .main .display-image .clock-display .now-time {
    padding-top: 3px;
  }
  /* line 450, ../scss/alccalc.scss */
  #alccalc .main .display-image .clock-display .now-time .number {
    width: 8px;
  }
  /* line 453, ../scss/alccalc.scss */
  #alccalc .main .display-image .clock-display .now-time .coron {
    width: 5px;
  }
  /* line 457, ../scss/alccalc.scss */
  #alccalc .main .display-image .clock-display .end-time {
    padding: 20px 0px 4px;
  }
  /* line 459, ../scss/alccalc.scss */
  #alccalc .main .display-image .clock-display .end-time .number {
    width: 10px;
  }
  /* line 462, ../scss/alccalc.scss */
  #alccalc .main .display-image .clock-display .end-time:after {
    background-position-y: 4px;
    -webkit-background-size: 2%;
    background-size: 2%;
  }
  /* line 467, ../scss/alccalc.scss */
  #alccalc .main .display-image .clock-display .end-time .coron {
    width: 6px;
  }
  /* line 472, ../scss/alccalc.scss */
  #alccalc .main .display-image .countdown {
    margin-top: 12px;
  }
  /* line 474, ../scss/alccalc.scss */
  #alccalc .main .display-image .countdown .number {
    width: 35px;
    height: 47px;
  }
  /* line 478, ../scss/alccalc.scss */
  #alccalc .main .display-image .countdown .number.hour {
    margin-right: 22px;
  }
  /* line 481, ../scss/alccalc.scss */
  #alccalc .main .display-image .countdown .number.min2 {
    margin-right: 11px;
  }
  /* line 484, ../scss/alccalc.scss */
  #alccalc .main .display-image .countdown img {
    width: 100%;
  }
  /* line 488, ../scss/alccalc.scss */
  #alccalc .main .display-image .progress-bar {
    margin-top: 10px;
    width: 200px;
    height: 1px;
  }
  /* line 494, ../scss/alccalc.scss */
  #alccalc .main .using {
    margin-top: 420px;
    padding: 20px 0px;
  }
  /* line 497, ../scss/alccalc.scss */
  #alccalc .main .using ul {
    padding: 0;
  }
  /* line 500, ../scss/alccalc.scss */
  #alccalc .main .using li {
    margin: 20px auto 30px;
    font-size: 14px;
    height: auto;
  }
  /* line 504, ../scss/alccalc.scss */
  #alccalc .main .using li:before {
    top: -45px;
    left: -70px;
    height: 100px;
    -webkit-background-size: 20%;
    background-size: 20%;
  }
  /* line 511, ../scss/alccalc.scss */
  #alccalc .main .using li:last-child {
    margin-bottom: 20px;
  }
  /* line 515, ../scss/alccalc.scss */
  #alccalc .main .using .caption {
    text-align: left;
    padding-left: 120px;
  }
  /* line 520, ../scss/alccalc.scss */
  #alccalc .main section.applestore {
    padding-top: 110px;
  }
  /* line 523, ../scss/alccalc.scss */
  #alccalc .main .caution {
    padding-top: 100px;
    font-size: 10px;
  }
  /* line 526, ../scss/alccalc.scss */
  #alccalc .main .caution p {
    width: auto;
  }
  /* line 529, ../scss/alccalc.scss */
  #alccalc .main .caution span {
    display: inline-block;
    width: 100%;
  }
  /* line 535, ../scss/alccalc.scss */
  #alccalc footer {
    padding: 10px 7px;
  }
}
