@charset "UTF-8";
/* ---------------
 * temp hacks
 * --------------- */
/* ---------------
 * fonts
 * --------------- */
/* ---------------
 * display (css3)
 * --------------- */
/* ---------------
 * property (css3)
 * --------------- */
/* --------------------
 * for shape
 * -------------------- */
/* --------------------
 * for list(ul ol)
 * -------------------- */
/* --------------------
 * for title
 * -------------------- */
/* --------------------
 * for positioning
 * -------------------- */
/* --------------------
 * for css sprite
 * -------------------- */
/* --------------------
 * for button
 * -------------------- */
/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
/* line 10, ../scss/library/base-class/_reset.scss */
html {
  /* change colours to suit your needs */
  /* change colours to suit your needs */
  /* change border colour to suit your needs */
}
/* line 24, ../scss/library/base-class/_reset.scss */
html body, html div, html span, html object, html iframe,
html h1, html h2, html h3, html h4, html h5, html h6, html p, html blockquote, html pre,
html abbr, html address, html cite, html code,
html del, html dfn, html em, html img, html ins, html kbd, html q, html samp,
html small, html strong, html sub, html sup, html var,
html b, html i,
html dl, html dt, html dd, html ol, html ul, html li,
html fieldset, html form, html label, html legend,
html input, html textarea,
html table, html caption, html tbody, html tfoot, html thead, html tr, html th, html td,
html article, html aside, html canvas, html details, html figcaption, html figure,
html footer, html header, html hgroup, html menu, html nav, html section, html summary,
html time, html mark, html audio, html video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
/* line 34, ../scss/library/base-class/_reset.scss */
html body {
  line-height: 1;
}
/* line 39, ../scss/library/base-class/_reset.scss */
html article, html aside, html details, html figcaption, html figure,
html footer, html header, html hgroup, html menu, html nav, html section {
  display: block;
}
/* line 43, ../scss/library/base-class/_reset.scss */
html h1, html h2, html h3, html h4, html h5, html h6 {
  font-weight: normal;
  display: inline;
}
/* line 48, ../scss/library/base-class/_reset.scss */
html ul, html ol {
  list-style: none;
}
/* line 52, ../scss/library/base-class/_reset.scss */
html blockquote, html q {
  quotes: none;
}
/* line 57, ../scss/library/base-class/_reset.scss */
html blockquote:before, html blockquote:after,
html q:before, html q:after {
  content: '';
  content: none;
}
/* line 62, ../scss/library/base-class/_reset.scss */
html a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
/* line 71, ../scss/library/base-class/_reset.scss */
html ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}
/* line 78, ../scss/library/base-class/_reset.scss */
html mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
/* line 85, ../scss/library/base-class/_reset.scss */
html del {
  text-decoration: line-through;
}
/* line 89, ../scss/library/base-class/_reset.scss */
html abbr[title], html dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}
/* line 94, ../scss/library/base-class/_reset.scss */
html table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* line 100, ../scss/library/base-class/_reset.scss */
html hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}
/* line 109, ../scss/library/base-class/_reset.scss */
html .hidden {
  display: none;
}

/* line 2, ../scss/site/base-class/_reset.scss */
html {
  letter-spacing: 0;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  font-size: 13px;
  height: 100%;
  width: 100%;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}
/* line 12, ../scss/site/base-class/_reset.scss */
.windows html {
  font-family: "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}
/* line 15, ../scss/site/base-class/_reset.scss */
.mac html {
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", sans-serif;
}
/* line 18, ../scss/site/base-class/_reset.scss */
html body {
  line-height: 1.5;
  color: #303030;
  width: 100%;
  height: 100%;
}
/* line 24, ../scss/site/base-class/_reset.scss */
html .hidden {
  visibility: hidden;
}

/* line 9, ../scss/site/layout/_generalLayout.scss */
#general-layout {
  -webkit-perspective-origin: 50% 50%;
  perspective-origin: 50% 50%;
  -webkit-perspective: 5000;
  perspective: 5000;
}
/* line 12, ../scss/site/layout/_generalLayout.scss */
#general-layout #wrapper1, #general-layout #wrapper2 {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  background: #ffffff;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective-origin: 50% 50%;
  perspective-origin: 50% 50%;
  -webkit-perspective: 2000;
  perspective: 2000;
}
/* line 25, ../scss/site/layout/_generalLayout.scss */
#general-layout.wrapper1 #wrapper1 {
  -webkit-transform: rotateY(0deg) translate3d(0px, 0px, 0px);
  transform: rotateY(0deg) translate3d(0px, 0px, 0px);
  z-index: 10;
}
/* line 29, ../scss/site/layout/_generalLayout.scss */
#general-layout.wrapper2 #wrapper2 {
  -webkit-transform: rotateY(0deg) translate3d(0px, 0px, 0px);
  transform: rotateY(0deg) translate3d(0px, 0px, 0px);
  z-index: 10;
}
/* line 34, ../scss/site/layout/_generalLayout.scss */
#general-layout .main {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  position: fixed;
  padding-left: 260px;
}
/* line 41, ../scss/site/layout/_generalLayout.scss */
#general-layout .site-contents {
  width: 100%;
  height: 100%;
  position: relative;
}
/* line 48, ../scss/site/layout/_generalLayout.scss */
#general-layout .site-content {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 1.0;
  box-sizing: border-box;
  background-clip: content-box;
  -webkit-transform: rotateY(0deg) translate3d(0px, 0px, 0px);
  transform: rotateY(0deg) translate3d(0px, 0px, 0px);
  z-index: 10;
}
/* line 63, ../scss/site/layout/_generalLayout.scss */
#general-layout #index {
  opacity: 0;
}
/* line 67, ../scss/site/layout/_generalLayout.scss */
#general-layout .index #index {
  opacity: 1.0;
}
/* line 70, ../scss/site/layout/_generalLayout.scss */
#general-layout .index .site-content {
  opacity: 0;
}
/* line 75, ../scss/site/layout/_generalLayout.scss */
#general-layout .about #products {
  z-index: 0;
  visibility: hidden;
}
/* line 81, ../scss/site/layout/_generalLayout.scss */
#general-layout .products #about {
  z-index: 0;
  visibility: hidden;
}
/* line 86, ../scss/site/layout/_generalLayout.scss */
#general-layout #about {
  background-color: #e82010;
}
/* line 89, ../scss/site/layout/_generalLayout.scss */
#general-layout #index {
  background-color: #ffffff;
}
/* line 92, ../scss/site/layout/_generalLayout.scss */
#general-layout #recruit {
  background-color: #ced808;
}

/* line 102, ../scss/site/layout/_generalLayout.scss */
#general-layout #header {
  z-index: 1000;
  box-sizing: border-box;
  padding: 10px 30px;
  position: fixed;
}
@media screen and (max-width: 520px) {
  /* line 112, ../scss/site/layout/_generalLayout.scss */
  #general-layout #header {
    width: 100%;
  }
  /* line 116, ../scss/site/layout/_generalLayout.scss */
  #general-layout #products .content {
    font-size: 13px;
  }
}
@media screen and (min-width: 520px) and (max-width: 1024px) {
  /* line 126, ../scss/site/layout/_generalLayout.scss */
  #general-layout #header {
    width: 100%;
  }
  /* line 130, ../scss/site/layout/_generalLayout.scss */
  #general-layout #products .content {
    font-size: 13px;
  }
}
@media screen and (min-width: 1024px) {
  /* line 141, ../scss/site/layout/_generalLayout.scss */
  #general-layout #header {
    width: 260px;
    margin-top: 10%;
    float: left;
  }
  /* line 146, ../scss/site/layout/_generalLayout.scss */
  #general-layout #gmenu {
    padding-top: 60px;
  }
  /* line 148, ../scss/site/layout/_generalLayout.scss */
  #general-layout #gmenu > li {
    line-height: 30px;
    font-weight: bold;
  }
  /* line 154, ../scss/site/layout/_generalLayout.scss */
  #general-layout .site-content .content {
    font-size: 13px;
  }
}
